doctype html
html(lang="it", ng-app="marcomApp")
  head
    base(href="/")
    meta(charset="utf-8")
    title Marco Mascarucci

    block meta
    block css
  body(ng-controller="BodyController")
    block body
    block js
